
<div id="form">
<form>

<div>
  <img src="assets/logo.jpg" alt="Logo" class="logo">
  <p class="name">Guimarios</p>
</div>


<div class="dados">
<p class="dados-pessoais">Dados pessoais</p>

  <mat-form-field appearance="fill" class="input">
    <mat-label>Nome</mat-label>
    <input type="text" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" class="input">
    <mat-label>Data de nascimento</mat-label>
    <input type="date"  matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" class="input">
    <mat-label>Sobrenome</mat-label>
    <input type="text" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" class="input">
    <mat-label>Gênero</mat-label>
    <mat-select>
      <mat-option value="one">Femenino </mat-option>
      <mat-option value="two">Masculino</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="input">
    <mat-label>CPF</mat-label>
    <input type="text" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" class="input">
    <mat-label>Turma</mat-label>
    <mat-select>
      <mat-option value="one">Front-end</mat-option>
      <mat-option value="two">Back-end</mat-option>
    </mat-select>
  </mat-form-field>

 <!-- <button class="button" ng-click="go(/cadastro-en)">Próximo</button>-->
 <a class="button" routerLink="//cadastroen">Próximo</a>

 <p class="text1">Já tem cadastro? Faça <a routerLink="//login" class="login">login</a>.</p>
</div>
</form>


</div>



<router-outlet></router-outlet>






























