
<div id="form">
<form>

<div class="image-login">
  <img src="/imagem/logo.jpg" alt="Logo" class="logo">
  <p class="name">Guimarios</p>
</div>

<p class="dados-pessoais">Dados pessoais</p>

  <mat-form-field appearance="fill" class="input">
    <mat-label>Nome</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" class="input">
    <mat-label>Data de nascimento</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" class="input">
    <mat-label>Sobrenome</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" class="input">
    <mat-label>Gênero</mat-label>
    <mat-select>
      <mat-option value="one">Femenino </mat-option>
      <mat-option value="two">Masculino</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="input">
    <mat-label>CPF</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" class="input">
    <mat-label>Turma</mat-label>
    <mat-select>
      <mat-option value="one">Front-end</mat-option>
      <mat-option value="two">Back-end</mat-option>
    </mat-select>
  </mat-form-field>

  <button class="button">Próximo</button>
</form>

</div>





























<router-outlet></router-outlet>
