
.container {
  margin-top: 200px;
  text-align: center;
  border: 15px;
}

.name {
  font-size: 25px;
  font-weight: bold;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.button{
  font-size: 25px;
  background-color: #33b9ee ;
  color: white;
  border-color: #33b9ee;
  border-radius: 10px;
  height: 40px;
  width: 150px;
  margin-top: 20px;
}
.text-1 {
  margin-top: 20px;
  color: #33b9ee;
}
.text-2 {
  font-size: 15px;
}

.link{
  color:#33b9ee
}
