
<div id="form">
  <form>

  <div>
    <img src="assets/logo.jpg" alt="Logo" class="logo">
    <p class="name">Guimarios</p>
  </div>


  <div class="dados">
  <p class="dados-pessoais">Endereço</p>

    <mat-form-field appearance="fill" class="input">
      <mat-label>Rua*</mat-label>
      <input type="text" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input">
      <mat-label>Complemento</mat-label>
      <input type="text"  matInput>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input">
      <mat-label>Bairro*</mat-label>
      <input type="text" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input">
      <mat-label>Cidade*</mat-label>
      <input type="text" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input">
      <mat-label>Número*</mat-label>
      <input type="number"  matInput>
    </mat-form-field>

    <mat-form-field appearance="fill" class="input">
      <mat-label>Estado*</mat-label>
      <input type="text"  matInput>
    </mat-form-field>

   <a class="button" routerLink="//finalizar">Próximo</a>

  </div>
  </form>

  </div>

  <router-outlet></router-outlet>


