
  <div id="area">
    <form id="form">
      <div class="image-login">
        <img src="/assets/logo.jpg" alt="Logo" class="logo">
        <p class="name">Guimarios</p>
      </div>

      <form >
        <mat-form-field class="container1" appearance="fill">
          <mat-label>Endereço de e-mail</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                 placeholder="Endereço de e-mail">
          <mat-hint></mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Digite um e-mail válido
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            E-mail <strong>inválido</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="container1" appearance="fill">
          <mat-label>Senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

          </button>
        </mat-form-field>

      </form>


          <input type="checkbox" id="conectado" name="conectado" class="checkbox">
          <label for="conectado" class="checkbox-1"> Manter-me conectado</label><br>



      <button class="button">Entrar</button>
      <p class="text-1">Esqueceu a senha?</p>

      <p class="text-2"> Não tem um conta? Cadastre-se <a routerLink="//cadastro" class="link"> aqui </a>.</p>

    </form>
  </div>

  <router-outlet></router-outlet>


